#planeticon{
	font-size: 3rem;
}

#localglobal{
	width: max-content !important;
}

.project-image{
	background-color: #96D3F3;
}
.project-icon{
	margin-right: 3px !important;
}
.flexcontainer{
	display: flex;
	justify-content: space-between;
}