#planeticon{
	font-size: 3rem;
}

#localglobal{
	width: -webkit-max-content !important;
	width: -moz-max-content !important;
	width: max-content !important;
}

#tagsadd{
	padding-top: 10px;
}

.project-image{
	background-color: #96D3F3;
}
.project-icon{
	margin-right: 3px !important;
}
.flexcontainer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.close-button{
	position:absolute;
	top:0;
	right:0;
	padding-top: 15px;
	padding-right: 15px;
}
